<!-- views/device-details.hbs -->
<!DOCTYPE html>
<html>
<head>
    <title>Device Details</title>
</head>
<body>
    <h1>Device Details</h1>
    <p>User-Agent: {{deviceDetails.userAgent}}</p>
    <p>Screen Width: {{deviceDetails.screenWidth}}</p>
    <p>Screen Height: {{deviceDetails.screenHeight}}</p>
    <p>Device Pixel Ratio: {{deviceDetails.devicePixelRatio}}</p>
    <p>Touch Support: {{deviceDetails.isTouchSupported}}</p>
    <p>Browser Language: {{deviceDetails.browserLanguage}}</p>
    <p>Platform: {{deviceDetails.platform}}</p>
</body>
</html>
